<div class="searchBox">
<form id="searchForm" action="post">
    <input id="searchBox" type="text" class="textfield" />
    <input type="submit" class="btn btn-primary" value="Search" />
</form>
</div>
