<div class="quoteBox">
	<!--<h5>your statement</h5>-->
	<form id="" action="#post">
	    <fieldset class="row">
			<div class="span8">
				<textarea name="quoteboxText" id="quoteboxText" class="textfield"></textarea>
			</div>
	        <div class="span1">
				<input type="submit" id="quoteUpdate" class="btn" value="Edit" />
	        </div>
	    </fieldset>
	</form>
</div>


