<h5>Add your statement:</h5>

<div class="quoteBox">
<form id="" action="post">
    <fieldset class="row">
    	<div id="quoteboxText" class="textfield span8" contenteditable="true"></div>
    	<input type="hidden" name="quoteboxText" value=""/>
        <div class="span1">
        	<input type="submit" id="quoteUpdate" class="btn btn-success hidden" value="Update" />
        </div>
    </fieldset>
</form>
</div>


