<div class="splash" style="text-align: center; padding: 80px 50px 50px;">
	<h1 style="font-weight: normal">Introducing a new form of citation for the web.</h1>
	<p><a href="/cite/home" class="btn btn-large">Create a Citation</a></p>
</div>
<!--<hr>

<div class="row">
	<div class="span4">
		<h3>Easily cite your Blog posts</h3>
		<p>
	</div>
</div>-->