// main theme
html {
}

body {
    margin: 0 auto;
    width: 940px;
}

header {
    padding: 20px 0 40px 0;
    font-size: 1.2em;
    h1 {
        font-size: 1em;
        display: inline;
    }
}

.searchBox {
    text-align: center;
    .textfield{
        width: 500px;
    }
    .btn {

    }
}

#search_results {
    margin-top: 40px;

    li {
        list-style: roman;
        display: block;

        border-top: solid 1px #ccc;
        margin: 20px 0;
        padding-left: 20px;
        padding-top: 20px;

    }

}
