<%  if (results != undefined) { %>
    <ol>
  <%  for(var i=0; i<results.length; i++) { %>
        <li>
            <a href='<%= results[i].link %>'>
                <%= results[i].htmlTitle %>
              </a>
              <p>
                <%= results[i].htmlSnippet %>
              </p>
        </li>
  <%  } %>
    </ol>
<%  } else { %>
    <span style="text-align: center">No results found!</a>
<%}%>
